/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Anton', sans-serif;
}

h2 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

/*******
 Main 
 *******/

.container {
    height: 100vh;
}

.shoes_box {
    height: 100%;
    position: relative;
}

.product_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 800px;
}

.product_box>img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#box_superga {
    background-color: red;
}

#box_superga h2,
#box_adidas h2 {
    color: yellow;
}

#box_adidas {
    background-color: green;
}

#box_converse {
    background-color: yellow;
}

#box_converse h2 {
    color: green;
}