/* Colors */




/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Anton', sans-serif;
}

h2{
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1rem;
}

.container{
    height: 100vh;
}

.shoes_box{
    height: 100%;
    position: relative;
}

#box_superga{
    background-color: red;
}

.product_box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 800px;
}

.product_box>img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#box_superga h2{
    color: yellow;
}


.product_text{
    
}

