/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Anton', sans-serif;
}

h2 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    word-spacing: 0.7rem;
}

li>a{
    text-decoration: none;
    color: black;
}

/*******
 Main 
 *******/

.container {
    height: 100vh;
}

.shoes_box {
    height: 100%;
    position: relative;
}

.navbar{
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.navbar ul>li{
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 4rem;
    display: inline-block;
    background-color: white;
    border-radius: 50% ;
    margin: 0 1.5rem;
}

.product_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 800px;
}

.product_box>img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.product_text{
    padding: 0 4rem;
}

#box_superga {
    background-color: red;
}

#box_superga h2,
#box_adidas h2 {
    color: yellow;
}

#box_adidas {
    background-color: green;
}

#box_converse {
    background-color: yellow;
}

#box_converse h2 {
    color: green;
}